* {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* header */

header {
  position: relative;
  align-content: stretch;
  background-color: white;
  height: 20vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.logo img {
  display: inline;
  justify-content: center;
  align-items: center;
  width: 12vw;
  margin-left: 4vw;
  margin-top: 2vw
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  position: absolute;
  left: 45vw;
  top: 6vh
}

nav ul li a {
  display: flex;
  text-decoration: none;
  color: #15bef1;
  border: #39c5f0 solid 2px;
  justify-content: center;
  align-items: center;
  padding: 0.2vw;
  margin: .1vw;
  margin-top: 2vh;
  width: 12.5vw;
  height: 4vh;
}

.logo {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
}

h1 {
  display: inline-block;
  color: #39c5f0;
  font-size: 3vw;
  margin-top: 2vh;
}

.sub-head {
  margin-left: 20px;
  display: inline-block;
}


/* main*/
main {
  background-color: #76d7ef;
  height: 67vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

fieldset {
  margin: 10px;
  padding: 10px;
  width: 90%;
  border: white solid 2px;
}

.info {
  display: flex;
  align-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.info p {
  text-align: center;
}

.contact {
  width: 90%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

textarea {
  width: 440px;
  height: 200px;
}








/* footer */

footer {
  color: #39c5f0;
  height: 10vh;
  position: relative;
  bottom: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
}


.copyright {
  position: absolute;
  left: 10%;
  font-size: 2.5vh;

}

.social {
  position: absolute;
  right: 2%;
}